<div class="education">
    <h5>
        {% if education.url is defined %}<a href="{{ education.url }}">{% endif %}
            {{ education.title }} - <small>{{ education.date }}</small>
        {% if education.url is defined %}</a>{% endif %}
    </h5>
</div>
