<div class="small-12 large-4 columns text-right">
    <h2>Profile</h2>
</div>
<div class="small-12 large-8 columns">
    <p>
        As with a lot of Developers my passion for development started out as a hobby, since early hight school I started
        to enjoy writing small pieces of software just for the fun of it. It started out with BASIC, but soon after I
        started with PHP.
    </p>
    <p>
        It took me quit a few years to learn that just hacking away doesn't bring you much, not more then a pleasure doing it.
        It wasn't until I started the study Computer Science, where we learned some JAVA, that I started to see the importance
        of structure.
    </p>
    <p>
        In 2011 I contributed my first PR on GitHub and ever since I grew more into OpenSource. The feeling that you can give
        something back to the community is awesome! That community helped me grow as a developer. In a relative short period
        I learned a lot about design patterns, TDD, Continues Integration, etc. But also about receiving and giving code reviews.
        Working with the community is, in my opinion, the best way to grow as a developer.
    </p>
    <p>
        Since 2011 I started attending more conferences and meetups, there I learned that I wanted to do more then building
        'just' websites. Building solid (web-based) applications with a focus on code quality is what I really want to do.
        I also learned that working with a TDD approach is important for that. With the rise of travis-ci, I also came in
        touch with Continues Integration.
    </p>
</div>
