<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="desciption" content="Curriculum Vitae of Willem-Jan Zijderveld, PHP Developer and OSS addict">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/vendor.css" />
    <link rel="stylesheet" href="/assets/css/screen.css" />
    <script type="text/javascript" src="/vendor/modernizr/modernizr.js"></script>

    <title>Willem-Jan Zijderveld - Curriculum Vitae</title>
</head>
<body>

<div class="topline"></div>

<header>
    <div class="row">
        <div class="small-12 medium-8 columns">
            <h1 class="hide-for-small">Willem-Jan Zijderveld</h1>
            <h2 class="show-for-small-only">Willem-Jan Zijderveld</h2>
            <h4>Senior PHP Developer <span class="sub">with an OpenSource addiction</span></h4>
        </div>
        <div class="small-12 medium-4 columns">
            <ul class="contact">
                <li><a class="icon email" href="mailto:wjzijderveld@gmail.com">wjzijderveld@gmail.com</a></li>
                <li><a class="icon github" href="https://github.com/wjzijderveld">github.com/wjzijderveld</a></li>
                <li><a class="icon blog" href="http://blog.willem-jan.net">blog.willem-jan.net</a></li>
                <li><a class="icon twitter" href="https://twitter.com/willemjanz">@willemjanz</a></li>
            </ul>
        </div>
    </div>
</header>

<section id="content">

    <div class="row">

        <div class="small-12 large-4 columns text-right">
            <h2>Profile</h2>
        </div>
        <div class="small-12 large-8 columns">
            {% include '_profile.html.twig' %}
        </div>

        <div class="small-12 large-4 columns text-right">
            <h2>Work experience</h2>
        </div>
        <div class="small-12 large-8 columns">
            {% for job in jobs %}{% spaceless %}
                {% include '_job.html.twig' with { 'job': job } %}
            {% endspaceless %}{% endfor %}
        </div>

        <div class="small-12 large-4 columns text-right">
            <h2>Skills</h2>
        </div>
        <div class="small-12 large-8 columns">
            {% for skill in skills %}{% spaceless %}
                {% include '_skill.html.twig' with { 'skill' : skill } %}
            {% endspaceless %}{% endfor %}
        </div>
    </div>

</section>

</body>
</html>